{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    {% tailwind_css %}
</head>
<body class="bg-black">
    {% block body %}{% endblock body %}
    <script src="{% static "fontawesome/fontawesome.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>
</body>
</html>